<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EasyHairBooking</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<div>
    <div class="container"><br/>
        <h1 style="width: 600px; color: darkred; margin: auto;"><strong><u>Online-Buchung Friseur-Termin</u></strong>
        </h1><br/>
        <form action="/send-email" method="post">
            <div id="middle">
                <p style="display: inline; font-size: 17px">Hallo </p>
                <p id="vorname" style="display: inline; font-size: 17px"></p>
                <p style="display: inline; font-size: 17px">, </p>
                <p style="font-size: 17px">es freut mich, dass du einen Termin bei mir ausmachen möchtest.</p>

                <div id="info">
                    <h4><strong><u>Informationen über dich</u></strong></h4>
                    <div class="row">
                        <label for="name">Name: </label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div>
                        <label for="vorname2">Vorname: </label>
                        <input type="text" name="vorname2" id="vorname2" required>
                    </div>
                    <div>
                        <label for="email">E-Mail-Adresse: </label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div>
                        <label for="nummer">Telefonnummer/Handynummer: </label>
                        <input name="nummer" id="nummer" required>
                    </div>
                        <label><u>Terminart</u></label>
                        <div>
                            <label for="damen">Damen: </label>
                            <input type="text" name="damen" id="damen" required>
                        </div>
                        <div>
                            <label for="herren">Herren: </label>
                            <input type="text" name="herren" id="herren" required>

                    </div>
                    <div>
                        <label for="anderes">Andere Dienstleistung: </label>
                        <input type="text" name="anderes" id="anderes" required>
                    </div>
                    <div>
                        <label for="sonstiges">Sonstige Anmerkungen: </label>
                        <input name="sonstiges" id="sonstiges">

                    </div>

                </div>


                <p style="font-size: 17px; padding-top: 10px"> Bitte wähle einen passenden Termin für dich aus:</p>
                <h4><strong><u>Terminauswahlmöglichkeiten</u></strong></h4>
                <div class="row">
                    <fieldset id="termine-20">
                        <label>Termine für Dienstag 19.12.2017</label><br>
                        <input id="termine-20-1" type="radio" name="Termine"
                               value="Termin 1: 19.12.2017 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-1">Termin 1: 19.12.2017 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-2" type="radio" name="Termine"
                               value="Termin 2: 19.12.2017 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-2">Termin 2: 19.12.2017 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-3" type="radio" name="Termine"
                               value="Termin 3: 19.12.2017 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-3">Termin 3: 19.12.2017 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-4" type="radio" name="Termine"
                               value="Termin 4: 19.12.2017 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-4">Termin 4: 19.12.2017 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Mittwoch 20.12.2017</label><br>
                        <input id="termine-20-5" type="radio" name="Termine"
                               value="Termin 1: 20.12.2017 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-5">Termin 1: 20.12.2017 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-6" type="radio" name="Termine"
                               value="Termin 2: 20.12.2017 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-6">Termin 2: 20.12.2017 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-7" type="radio" name="Termine"
                               value="Termin 3: 20.12.2017 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-7">Termin 3: 20.12.2017 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-8" type="radio" name="Termine"
                               value="Termin 4: 20.12.2017 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-8">Termin 4: 20.12.2017 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Donnerstag 21.12.2017</label><br>
                        <input id="termine-20-9" type="radio" name="Termine"
                               value="Termin 1: 21.12.2017 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-9">Termin 1: 21.12.2017 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-10" type="radio" name="Termine"
                               value="Termin 2: 21.12.2017 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-10">Termin 2: 21.12.2017 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-11" type="radio" name="Termine"
                               value="Termin 3: 21.12.2017 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-11">Termin 3: 21.12.2017 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-12" type="radio" name="Termine"
                               value="Termin 4: 21.12.2017 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-12">Termin 4: 21.12.2017 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Freitag 22.12.2017</label><br>
                        <input id="termine-20-13" type="radio" name="Termine"
                               value="Termin 1: 22.12.2017 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-13">Termin 1: 22.12.2017 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-14" type="radio" name="Termine"
                               value="Termin 2: 22.12.2017 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-14">Termin 2: 22.12.2017 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-15" type="radio" name="Termine"
                               value="Termin 3: 22.12.2017 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-15">Termin 3: 22.12.2017 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-16" type="radio" name="Termine"
                               value="Termin 4: 22.12.2017 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-16">Termin 4: 22.12.2017 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Samstag 23.12.2017</label><br>
                        <input id="termine-20-17" type="radio" name="Termine"
                               value="Termin 1: 23.12.2017 - 10:00 - 09:20 Uhr">
                        <label for="termine-20-17">Termin 1: 23.12.2017 - 10:00 - 10:20 Uhr</label><br>
                        <input id="termine-20-18" type="radio" name="Termine"
                               value="Termin 2: 23.12.2017 - 10:20 - 10:40 Uhr">
                        <label for="termine-20-18">Termin 2: 23.12.2017 - 10:20 - 10:40 Uhr</label><br>
                        <input id="termine-20-19" type="radio" name="Termine"
                               value="Termin 3: 23.12.2017 - 10:40 - 11:00 Uhr">
                        <label for="termine-20-19">Termin 3: 23.12.2017 - 10:40 - 11:00 Uhr</label><br>
                        <label>Termine für Dienstag 02.01.2018</label><br>
                        <input id="termine-20-20" type="radio" name="Termine"
                               value="Termin 1: 02.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-20">Termin 1: 02.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-21" type="radio" name="Termine"
                               value="Termin 2: 02.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-21">Termin 2: 02.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-22" type="radio" name="Termine"
                               value="Termin 3: 02.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-22">Termin 3: 02.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-23" type="radio" name="Termine"
                               value="Termin 4: 02.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-23">Termin 4: 02.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Mittwoch 03.01.2018</label><br>
                        <input id="termine-20-24" type="radio" name="Termine"
                               value="Termin 1: 03.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-24">Termin 1: 03.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-25" type="radio" name="Termine"
                               value="Termin 2: 03.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-25">Termin 2: 03.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-26" type="radio" name="Termine"
                               value="Termin 3: 03.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-26">Termin 3: 03.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-27" type="radio" name="Termine"
                               value="Termin 4: 03.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-27">Termin 4: 03.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Donnerstag 04.01.2018</label><br>
                        <input id="termine-20-28" type="radio" name="Termine"
                               value="Termin 1: 04.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-28">Termin 1: 04.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-29" type="radio" name="Termine"
                               value="Termin 2: 04.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-29">Termin 2: 04.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-30" type="radio" name="Termine"
                               value="Termin 3: 04.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-30">Termin 3: 04.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-31" type="radio" name="Termine"
                               value="Termin 4: 04.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-31">Termin 4: 04.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Freitag 05.01.2018</label><br>
                        <input id="termine-20-32" type="radio" name="Termine"
                               value="Termin 1: 05.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-32">Termin 1: 05.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-33" type="radio" name="Termine"
                               value="Termin 2: 05.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-33">Termin 2: 05.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-34" type="radio" name="Termine"
                               value="Termin 3: 05.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-34">Termin 3: 05.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-35" type="radio" name="Termine"
                               value="Termin 4: 05.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-35">Termin 4: 05.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Samstag 06.01.2018</label><br>
                        <input id="termine-20-36" type="radio" name="Termine"
                               value="Termin 1: 06.01.2018 - 10:00 - 09:20 Uhr">
                        <label for="termine-20-36">Termin 1: 06.01.2018 - 10:00 - 10:20 Uhr</label><br>
                        <input id="termine-20-37" type="radio" name="Termine"
                               value="Termin 2: 06.01.2018 - 10:20 - 10:40 Uhr">
                        <label for="termine-20-37">Termin 2: 06.01.2018 - 10:20 - 10:40 Uhr</label><br>
                        <input id="termine-20-38" type="radio" name="Termine"
                               value="Termin 3: 06.01.2018 - 10:40 - 11:00 Uhr">
                        <label for="termine-20-38">Termin 3: 06.01.2018 - 10:40 - 11:00 Uhr</label><br>
                        <label>Termine für Dienstag09.01.2018</label><br>
                        <input id="termine-20-39" type="radio" name="Termine"
                               value="Termin 1: 09.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-39">Termin 1: 09.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-40" type="radio" name="Termine"
                               value="Termin 2: 09.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-40">Termin 2: 09.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-41" type="radio" name="Termine"
                               value="Termin 3: 09.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-41">Termin 3: 09.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-42" type="radio" name="Termine"
                               value="Termin 4: 09.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-42">Termin 4: 09.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Mittwoch 10.01.2018</label><br>
                        <input id="termine-20-43" type="radio" name="Termine"
                               value="Termin 1: 10.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-43">Termin 1: 10.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-44" type="radio" name="Termine"
                               value="Termin 2: 10.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-44">Termin 2: 10.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-45" type="radio" name="Termine"
                               value="Termin 3: 10.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-45">Termin 3: 10.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-46" type="radio" name="Termine"
                               value="Termin 4: 10.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-46">Termin 4: 10.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Donnerstag 11.01.2018</label><br>
                        <input id="termine-20-47" type="radio" name="Termine"
                               value="Termin 1: 11.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-47">Termin 1: 11.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-48" type="radio" name="Termine"
                               value="Termin 2: 11.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-48">Termin 2: 11.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-49" type="radio" name="Termine"
                               value="Termin 3: 11.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-49">Termin 3: 11.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-50" type="radio" name="Termine"
                               value="Termin 4: 11.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-50">Termin 4: 11.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Freitag 12.01.2018</label><br>
                        <input id="termine-20-51" type="radio" name="Termine"
                               value="Termin 1: 12.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-51">Termin 1: 12.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-52" type="radio" name="Termine"
                               value="Termin 2: 12.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-52">Termin 2: 12.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-53" type="radio" name="Termine"
                               value="Termin 3: 12.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-53">Termin 3: 12.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-54" type="radio" name="Termine"
                               value="Termin 4: 12.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-54">Termin 4: 12.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Samstag 13.01.2018</label><br>
                        <input id="termine-20-55" type="radio" name="Termine"
                               value="Termin 1: 13.01.2018 - 10:00 - 09:20 Uhr">
                        <label for="termine-20-55">Termin 1: 13.01.2018 - 10:00 - 10:20 Uhr</label><br>
                        <input id="termine-20-56" type="radio" name="Termine"
                               value="Termin 2: 13.01.2018 - 10:20 - 10:40 Uhr">
                        <label for="termine-20-56">Termin 2: 13.01.2018 - 10:20 - 10:40 Uhr</label><br>
                        <input id="termine-20-57" type="radio" name="Termine"
                               value="Termin 3: 13.01.2018 - 10:40 - 11:00 Uhr">
                        <label for="termine-20-57">Termin 3: 13.01.2018 - 10:40 - 11:00 Uhr</label><br>
                        <label>Termine für Dienstag 16.01.2018</label><br>
                        <input id="termine-20-58" type="radio" name="Termine"
                               value="Termin 1: 16.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-58">Termin 1: 16.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-59" type="radio" name="Termine"
                               value="Termin 2: 16.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-59">Termin 2: 16.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-60" type="radio" name="Termine"
                               value="Termin 3: 16.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-60">Termin 3: 16.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-61" type="radio" name="Termine"
                               value="Termin 4: 16.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-61">Termin 4: 16.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Mittwoch 17.01.2018</label><br>
                        <input id="termine-20-62" type="radio" name="Termine"
                               value="Termin 1: 17.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-62">Termin 1: 17.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-63" type="radio" name="Termine"
                               value="Termin 2: 17.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-63">Termin 2: 17.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-64" type="radio" name="Termine"
                               value="Termin 3: 17.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-64">Termin 3: 17.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-65" type="radio" name="Termine"
                               value="Termin 4: 17.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-65">Termin 4: 17.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Donnerstag 18.01.2018</label><br>
                        <input id="termine-20-66" type="radio" name="Termine"
                               value="Termin 1: 18.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-66">Termin 1: 18.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-67" type="radio" name="Termine"
                               value="Termin 2: 18.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-67">Termin 2: 18.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-68" type="radio" name="Termine"
                               value="Termin 3: 18.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-68">Termin 3: 18.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-69" type="radio" name="Termine"
                               value="Termin 4: 18.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-69">Termin 4: 18.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Freitag 19.01.2018</label><br>
                        <input id="termine-20-70" type="radio" name="Termine"
                               value="Termin 1: 19.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-70">Termin 1: 19.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-71" type="radio" name="Termine"
                               value="Termin 2: 19.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-71">Termin 2: 19.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-72" type="radio" name="Termine"
                               value="Termin 3: 19.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-72">Termin 3: 19.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-73" type="radio" name="Termine"
                               value="Termin 4: 19.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-73">Termin 4: 19.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Samstag 20.01.2018</label><br>
                        <input id="termine-20-74" type="radio" name="Termine"
                               value="Termin 1: 20.01.2018 - 10:00 - 09:20 Uhr">
                        <label for="termine-20-74">Termin 1: 20.01.2018 - 10:00 - 10:20 Uhr</label><br>
                        <input id="termine-20-75" type="radio" name="Termine"
                               value="Termin 2: 20.01.2018 - 10:20 - 10:40 Uhr">
                        <label for="termine-20-75">Termin 2: 20.01.2018 - 10:20 - 10:40 Uhr</label><br>
                        <input id="termine-20-76" type="radio" name="Termine"
                               value="Termin 3: 20.01.2018 - 10:40 - 11:00 Uhr">
                        <label for="termine-20-76">Termin 3: 20.01.2018 - 10:40 - 11:00 Uhr</label><br>
                        <label>Termine für Dienstag 23.01.2018</label><br>
                        <input id="termine-20-77" type="radio" name="Termine"
                               value="Termin 1: 23.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-77">Termin 1: 23.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-78" type="radio" name="Termine"
                               value="Termin 2: 23.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-78">Termin 2: 23.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-79" type="radio" name="Termine"
                               value="Termin 3: 23.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-79">Termin 3: 23.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-80" type="radio" name="Termine"
                               value="Termin 4: 23.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-80">Termin 4: 23.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Mittwoch 24.01.2018</label><br>
                        <input id="termine-20-81" type="radio" name="Termine"
                               value="Termin 1: 24.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-81">Termin 1: 24.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-82" type="radio" name="Termine"
                               value="Termin 2: 24.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-82">Termin 2: 24.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-82" type="radio" name="Termine"
                               value="Termin 3: 24.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-82">Termin 3: 24.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-83" type="radio" name="Termine"
                               value="Termin 4: 24.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-83">Termin 4: 24.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Donnerstag 25.01.2018</label><br>
                        <input id="termine-20-84" type="radio" name="Termine"
                               value="Termin 1: 25.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-84">Termin 1: 25.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-85" type="radio" name="Termine"
                               value="Termin 2: 25.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-85">Termin 2: 25.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-86" type="radio" name="Termine"
                               value="Termin 3: 25.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-86">Termin 3: 25.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-87" type="radio" name="Termine"
                               value="Termin 4: 25.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-87">Termin 4: 25.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Freitag 26.01.2018</label><br>
                        <input id="termine-20-88" type="radio" name="Termine"
                               value="Termin 1: 26.01.2018 - 09:00 - 09:20 Uhr">
                        <label for="termine-20-88">Termin 1: 26.01.2018 - 09:00 - 09:20 Uhr</label><br>
                        <input id="termine-20-89" type="radio" name="Termine"
                               value="Termin 2: 26.01.2018 - 13:20 - 13:40 Uhr">
                        <label for="termine-20-89">Termin 2: 26.01.2018 - 13:20 - 13:40 Uhr</label><br>
                        <input id="termine-20-90" type="radio" name="Termine"
                               value="Termin 3: 26.01.2018 - 13:40 - 14:00 Uhr">
                        <label for="termine-20-90">Termin 3: 26.01.2018 - 13:40 - 14:00 Uhr</label><br>
                        <input id="termine-20-91" type="radio" name="Termine"
                               value="Termin 4: 26.01.2018 - 14:00 - 14:20 Uhr">
                        <label for="termine-20-91">Termin 4: 26.01.2018 - 14:00 - 14:20 Uhr</label><br>
                        <label>Termine für Samstag 27.01.2018</label><br>
                        <input id="termine-20-92" type="radio" name="Termine"
                               value="Termin 1: 27.01.2018 - 10:00 - 09:20 Uhr">
                        <label for="termine-20-92">Termin 1: 27.01.2018 - 10:00 - 10:20 Uhr</label><br>
                        <input id="termine-20-93" type="radio" name="Termine"
                               value="Termin 2: 27.01.2018 - 10:20 - 10:40 Uhr">
                        <label for="termine-20-93">Termin 2: 27.01.2018 - 10:20 - 10:40 Uhr</label><br>
                        <input id="termine-20-94" type="radio" name="Termine"
                               value="Termin 3: 27.01.2018 - 10:40 - 11:00 Uhr">
                        <label for="termine-20-94">Termin 3: 27.01.2018 - 10:40 - 11:00 Uhr</label><br>
                    </fieldset>

                    <fieldset id="termine-30">
                        <label>Termine für Dienstag 19.12.2017</label><br>
                        <input id="termine-30-1" type="radio" name="Termine"
                               value="Termin 1: 19.12.2017 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-1">Termin 1: 19.12.2017 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-2" type="radio" name="Termine"
                               value="Termin 2: 19.12.2017 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-2">Termin 2: 19.12.2017 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-3" type="radio" name="Termine"
                               value="Termin 3: 19.12.2017 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-3">Termin 3: 19.12.2017 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Dienstag 20.12.2017</label><br>
                        <input id="termine-30-4" type="radio" name="Termine"
                               value="Termin 1: 20.12.2017 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-4">Termin 1: 20.12.2017 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-5" type="radio" name="Termine"
                               value="Termin 2: 20.12.2017 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-5">Termin 2: 20.12.2017 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-6" type="radio" name="Termine"
                               value="Termin 3: 20.12.2017 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-6">Termin 3: 20.12.2017 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Dienstag 21.12.2017</label><br>
                        <input id="termine-30-7" type="radio" name="Termine"
                               value="Termin 1: 21.12.2017 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-7">Termin 1: 21.12.2017 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-8" type="radio" name="Termine"
                               value="Termin 2: 21.12.2017 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-8">Termin 2: 21.12.2017 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-9" type="radio" name="Termine"
                               value="Termin 3: 21.12.2017 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-9">Termin 3: 21.12.2017 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Freitag 22.12.2017</label><br>
                        <input id="termine-30-10" type="radio" name="Termine"
                               value="Termin 1: 22.12.2017 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-10">Termin 1: 22.12.2017 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-11" type="radio" name="Termine"
                               value="Termin 2: 22.12.2017 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-11">Termin 2: 22.12.2017 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-12" type="radio" name="Termine"
                               value="Termin 3: 22.12.2017 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-12">Termin 3: 22.12.2017 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Samstag 23.12.2017</label><br>
                        <input id="termine-30-110" type="radio" name="Termine"
                               value="Termin 1: 23.12.2017 - 08:30 - 09:00 Uhr">
                        <label for="termine-30-110">Termin 1: 23.12.2017 - 08:30 - 09:00 Uhr</label><br>
                        <input id="termine-30-120" type="radio" name="Termine"
                               value="Termin 2: 23.12.2017 - 11:00 - 11:30 Uhr">
                        <label for="termine-30-120">Termin 2: 23.12.2017 - 11:00 - 11:30 Uhr</label><br>
                        <input id="termine-30-13" type="radio" name="Termine"
                               value="Termin 3: 23.12.2017 - 13:30 - 14:00 Uhr">
                        <label for="termine-30-13">Termin 3: 23.12.2017 - 13:30 - 14:00 Uhr</label><br>
                        <input id="termine-30-14" type="radio" name="Termine"
                               value="Termin 3: 23.12.2017 - 14:00 - 14:30 Uhr">
                        <label for="termine-30-14">Termin 3: 23.12.2017 - 14:00 - 14:30 Uhr</label><br>
                        <input id="termine-30-15" type="radio" name="Termine"
                               value="Termin 3: 23.12.2017 - 14:30 - 15:00 Uhr">
                        <label for="termine-30-15">Termin 3: 23.12.2017 - 14:30 - 15:00 Uhr</label><br>
                        <label>Termine für Dienstag 02.01.2018</label><br>
                        <input id="termine-30-16" type="radio" name="Termine"
                               value="Termin 1: 02.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-16">Termin 1: 02.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-17" type="radio" name="Termine"
                               value="Termin 2: 02.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-17">Termin 2: 02.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-18" type="radio" name="Termine"
                               value="Termin 3: 02.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-18">Termin 3: 02.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Mittwoch 03.01.2018</label><br>
                        <input id="termine-30-19" type="radio" name="Termine"
                               value="Termin 1: 03.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-19">Termin 1: 03.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-20" type="radio" name="Termine"
                               value="Termin 2: 03.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-20">Termin 2: 03.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-21" type="radio" name="Termine"
                               value="Termin 3: 03.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-21">Termin 3: 03.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Donnerstag 04.01.2018</label><br>
                        <input id="termine-30-22" type="radio" name="Termine"
                               value="Termin 1: 04.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-22">Termin 1: 04.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-23" type="radio" name="Termine"
                               value="Termin 2: 04.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-23">Termin 2: 04.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-24" type="radio" name="Termine"
                               value="Termin 3: 04.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-25">Termin 3: 04.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Freitag 05.01.2018</label><br>
                        <input id="termine-30-26" type="radio" name="Termine"
                               value="Termin 1: 05.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-26">Termin 1: 05.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-27" type="radio" name="Termine"
                               value="Termin 2: 05.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-27">Termin 2: 05.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-28" type="radio" name="Termine"
                               value="Termin 3: 05.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-28">Termin 3: 05.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Samstag 06.01.2018</label><br>
                        <input id="termine-30-29" type="radio" name="Termine"
                               value="Termin 1: 06.01.2018 - 08:30 - 09:00 Uhr">
                        <label for="termine-30-29">Termin 1: 06.01.2018 - 08:30 - 09:00 Uhr</label><br>
                        <input id="termine-30-30" type="radio" name="Termine"
                               value="Termin 2: 06.01.2018 - 11:00 - 11:30 Uhr">
                        <label for="termine-30-30">Termin 2: 06.01.2018 - 11:00 - 11:30 Uhr</label><br>
                        <input id="termine-30-31" type="radio" name="Termine"
                               value="Termin 3: 06.01.2018 - 13:30 - 14:00 Uhr">
                        <label for="termine-30-31">Termin 3: 06.01.2018 - 13:30 - 14:00 Uhr</label><br>
                        <input id="termine-30-32" type="radio" name="Termine"
                               value="Termin 3: 06.01.2018 - 14:00 - 14:30 Uhr">
                        <label for="termine-30-32">Termin 3: 06.01.2018 - 14:00 - 14:30 Uhr</label><br>
                        <input id="termine-30-33" type="radio" name="Termine"
                               value="Termin 3: 06.01.2018 - 14:30 - 15:00 Uhr">
                        <label for="termine-30-33">Termin 3: 06.01.2018 - 14:30 - 15:00 Uhr</label><br>
                        <label>Termine für Dienstag 09.01.2018</label><br>
                        <input id="termine-30-34" type="radio" name="Termine"
                               value="Termin 1: 09.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-34">Termin 1: 09.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-35" type="radio" name="Termine"
                               value="Termin 2: 09.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-35">Termin 2: 09.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-36" type="radio" name="Termine"
                               value="Termin 3: 09.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-36">Termin 3: 09.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Mittwoch 10.01.2018</label><br>
                        <input id="termine-30-37" type="radio" name="Termine"
                               value="Termin 1: 10.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-37">Termin 1: 10.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-38" type="radio" name="Termine"
                               value="Termin 2: 10.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-38">Termin 2: 10.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-39" type="radio" name="Termine"
                               value="Termin 3: 10.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-39">Termin 3: 10.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Donnerstag 11.01.2018</label><br>
                        <input id="termine-30-40" type="radio" name="Termine"
                               value="Termin 1: 11.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-40">Termin 1: 11.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-41" type="radio" name="Termine"
                               value="Termin 2: 11.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-41">Termin 2: 11.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-42" type="radio" name="Termine"
                               value="Termin 3: 11.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-42">Termin 3: 11.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Freitag 12.01.2018</label><br>
                        <input id="termine-30-43" type="radio" name="Termine"
                               value="Termin 1: 12.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-43">Termin 1: 12.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-44" type="radio" name="Termine"
                               value="Termin 2: 12.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-44">Termin 2: 12.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-45" type="radio" name="Termine"
                               value="Termin 3: 12.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-45">Termin 3: 12.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Samstag 13.01.2018</label><br>
                        <input id="termine-30-46" type="radio" name="Termine"
                               value="Termin 1: 13.01.2018 - 08:30 - 09:00 Uhr">
                        <label for="termine-30-46">Termin 1: 13.01.2018 - 08:30 - 09:00 Uhr</label><br>
                        <input id="termine-30-47" type="radio" name="Termine"
                               value="Termin 2: 13.01.2018 - 11:00 - 11:30 Uhr">
                        <label for="termine-30-47">Termin 2: 13.01.2018 - 11:00 - 11:30 Uhr</label><br>
                        <input id="termine-30-48" type="radio" name="Termine"
                               value="Termin 3: 13.01.2018 - 13:30 - 14:00 Uhr">
                        <label for="termine-30-48">Termin 3: 13.01.2018 - 13:30 - 14:00 Uhr</label><br>
                        <input id="termine-30-49" type="radio" name="Termine"
                               value="Termin 3: 13.01.2018 - 14:00 - 14:30 Uhr">
                        <label for="termine-30-49">Termin 3: 13.01.2018 - 14:00 - 14:30 Uhr</label><br>
                        <input id="termine-30-50" type="radio" name="Termine"
                               value="Termin 3: 13.01.2018 - 14:30 - 15:00 Uhr">
                        <label for="termine-30-50">Termin 3: 13.01.2018 - 14:30 - 15:00 Uhr</label><br>
                        <label>Termine für Dienstag 16.01.2018</label><br>
                        <input id="termine-30-51" type="radio" name="Termine"
                               value="Termin 1: 16.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-51">Termin 1: 16.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-52" type="radio" name="Termine"
                               value="Termin 2: 16.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-52">Termin 2: 16.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-53" type="radio" name="Termine"
                               value="Termin 3: 16.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-53">Termin 3: 16.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Mittwoch 17.01.2018</label><br>
                        <input id="termine-30-54" type="radio" name="Termine"
                               value="Termin 1: 17.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-54">Termin 1: 17.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-55" type="radio" name="Termine"
                               value="Termin 2: 17.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-55">Termin 2: 17.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-56" type="radio" name="Termine"
                               value="Termin 3: 17.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-56">Termin 3: 17.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Donnerstag 18.01.2018</label><br>
                        <input id="termine-30-57" type="radio" name="Termine"
                               value="Termin 1: 18.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-57">Termin 1: 18.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-58" type="radio" name="Termine"
                               value="Termin 2: 18.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-58">Termin 2: 18.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-59" type="radio" name="Termine"
                               value="Termin 3: 18.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-59">Termin 3: 18.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Freitag 19.01.2018</label><br>
                        <input id="termine-30-60" type="radio" name="Termine"
                               value="Termin 1: 19.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-60">Termin 1: 19.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-61" type="radio" name="Termine"
                               value="Termin 2: 19.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-61">Termin 2: 19.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-62" type="radio" name="Termine"
                               value="Termin 3: 19.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-62">Termin 3: 19.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Samstag 20.01.2018</label><br>
                        <input id="termine-30-63" type="radio" name="Termine"
                               value="Termin 1: 20.01.2018 - 08:30 - 09:00 Uhr">
                        <label for="termine-30-63">Termin 1: 20.01.2018 - 08:30 - 09:00 Uhr</label><br>
                        <input id="termine-30-64" type="radio" name="Termine"
                               value="Termin 2: 20.01.2018 - 11:00 - 11:30 Uhr">
                        <label for="termine-30-64">Termin 2: 20.01.2018 - 11:00 - 11:30 Uhr</label><br>
                        <input id="termine-30-65" type="radio" name="Termine"
                               value="Termin 3: 20.01.2018 - 13:30 - 14:00 Uhr">
                        <label for="termine-30-65">Termin 3: 20.01.2018 - 13:30 - 14:00 Uhr</label><br>
                        <input id="termine-30-66" type="radio" name="Termine"
                               value="Termin 3: 20.01.2018 - 14:00 - 14:30 Uhr">
                        <label for="termine-30-66">Termin 3: 20.01.2018 - 14:00 - 14:30 Uhr</label><br>
                        <input id="termine-30-67" type="radio" name="Termine"
                               value="Termin 3: 20.01.2018 - 14:30 - 15:00 Uhr">
                        <label for="termine-30-67">Termin 3: 20.01.2018 - 14:30 - 15:00 Uhr</label><br>
                        <label>Termine für Dienstag 23.01.2018</label><br>
                        <input id="termine-30-68" type="radio" name="Termine"
                               value="Termin 1: 23.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-68">Termin 1: 23.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-69" type="radio" name="Termine"
                               value="Termin 2: 23.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-69">Termin 2: 23.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-70" type="radio" name="Termine"
                               value="Termin 3: 23.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-70">Termin 3: 23.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Mittwoch 24.01.2018</label><br>
                        <input id="termine-30-71" type="radio" name="Termine"
                               value="Termin 1: 24.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-71">Termin 1: 24.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-72" type="radio" name="Termine"
                               value="Termin 2: 24.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-72">Termin 2: 24.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-73" type="radio" name="Termine"
                               value="Termin 3: 24.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-73">Termin 3: 24.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Donnerstag 25.01.2018</label><br>
                        <input id="termine-30-74" type="radio" name="Termine"
                               value="Termin 1: 25.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-74">Termin 1: 25.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-75" type="radio" name="Termine"
                               value="Termin 2: 25.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-75">Termin 2: 25.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-76" type="radio" name="Termine"
                               value="Termin 3: 25.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-76">Termin 3: 25.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Freitag 26.01.2018</label><br>
                        <input id="termine-30-77" type="radio" name="Termine"
                               value="Termin 1: 26.01.2018 - 14:20 - 14:50 Uhr">
                        <label for="termine-30-77">Termin 1: 26.01.2018 - 14:20 - 14:50 Uhr</label><br>
                        <input id="termine-30-78" type="radio" name="Termine"
                               value="Termin 2: 26.01.2018 - 14:50 - 15:20 Uhr">
                        <label for="termine-30-78">Termin 2: 26.01.2018 - 14:50 - 15:20 Uhr</label><br>
                        <input id="termine-30-79" type="radio" name="Termine"
                               value="Termin 3: 26.01.2018 - 17:20 - 17:50 Uhr">
                        <label for="termine-30-79">Termin 3: 26.01.2018 - 17:20 - 17:50 Uhr</label><br>
                        <label>Termine für Samstag 27.01.2018</label><br>
                        <input id="termine-30-80" type="radio" name="Termine"
                               value="Termin 1: 27.01.2018 - 08:30 - 09:00 Uhr">
                        <label for="termine-30-80">Termin 1: 27.01.2018 - 08:30 - 09:00 Uhr</label><br>
                        <input id="termine-30-81" type="radio" name="Termine"
                               value="Termin 2: 27.01.2018 - 11:00 - 11:30 Uhr">
                        <label for="termine-30-81">Termin 2: 27.01.2018 - 11:00 - 11:30 Uhr</label><br>
                        <input id="termine-30-82" type="radio" name="Termine"
                               value="Termin 3: 27.01.2018 - 13:30 - 14:00 Uhr">
                        <label for="termine-30-82">Termin 3: 27.01.2018 - 13:30 - 14:00 Uhr</label><br>
                        <input id="termine-30-83" type="radio" name="Termine"
                               value="Termin 3: 27.01.2018 - 14:00 - 14:30 Uhr">
                        <label for="termine-30-83">Termin 3: 27.01.2018 - 14:00 - 14:30 Uhr</label><br>
                        <input id="termine-30-84" type="radio" name="Termine"
                               value="Termin 3: 27.01.2018 - 14:30 - 15:00 Uhr">
                        <label for="termine-30-84">Termin 3: 27.01.2018 - 14:30 - 15:00 Uhr</label><br>
                    </fieldset>

                    <fieldset id="termine-60">
                        <label>Termine für Dienstag 19.12.2017</label><br>
                        <input id="termine-60-1" type="radio" name="Termine"
                               value="Termin 1: 19.12.2017 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-1">Termin 1: 19.12.2017 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-2" type="radio" name="Termine"
                               value="Termin 2: 19.12.2017 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-2">Termin 2: 19.12.2017 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Mittwoch 20.12.2017</label><br>
                        <input id="termine-60-3" type="radio" name="Termine"
                               value="Termin 1: 20.12.2017 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-3">Termin 1: 20.12.2017 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-4" type="radio" name="Termine"
                               value="Termin 2: 20.12.2017 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-4">Termin 2: 20.12.2017 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Donnerstag 21.12.2017</label><br>
                        <input id="termine-60-5" type="radio" name="Termine"
                               value="Termin 1: 21.12.2017 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-5">Termin 1: 21.12.2017 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-6" type="radio" name="Termine"
                               value="Termin 2: 21.12.2017 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-6">Termin 2: 21.12.2017 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Freitag 22.12.2017</label><br>
                        <input id="termine-60-7" type="radio" name="Termine"
                               value="Termin 1: 22.12.2017 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-7">Termin 1: 22.12.2017 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-8" type="radio" name="Termine"
                               value="Termin 2: 22.12.2017 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-8">Termin 2: 22.12.2017 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Samstag 23.12.2017</label><br>
                        <input id="termine-60-9" type="radio" name="Termine"
                               value="Termin 1: 23.12.2017 - 09:00 - 10:00 Uhr">
                        <label for="termine-60-9">Termin 1: 23.12.2017 - 09:00 - 10:00 Uhr</label><br>
                        <label>Termine für Dienstag 02.01.2018</label><br>
                        <input id="termine-60-10" type="radio" name="Termine"
                               value="Termin 1: 02.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-10">Termin 1: 02.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-11" type="radio" name="Termine"
                               value="Termin 2: 02.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-11">Termin 2: 02.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Mittwoch 03.01.2018</label><br>
                        <input id="termine-60-12" type="radio" name="Termine"
                               value="Termin 1: 03.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-12">Termin 1: 03.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-13" type="radio" name="Termine"
                               value="Termin 2: 03.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-13">Termin 2: 03.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Donnerstag 04.01.2018</label><br>
                        <input id="termine-60-14" type="radio" name="Termine"
                               value="Termin 1: 04.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-14">Termin 1: 04.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-15" type="radio" name="Termine"
                               value="Termin 2: 04.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-15">Termin 2: 04.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Freitag 05.01.2018</label><br>
                        <input id="termine-60-16" type="radio" name="Termine"
                               value="Termin 1: 05.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-16">Termin 1: 05.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-17" type="radio" name="Termine"
                               value="Termin 2: 05.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-17">Termin 2: 05.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Samstag 06.01.2018</label><br>
                        <input id="termine-60-18" type="radio" name="Termine"
                               value="Termin 1: 06.01.2018 - 09:00 - 10:00 Uhr">
                        <label for="termine-60-19">Termin 1: 06.01.2018 - 09:00 - 10:00 Uhr</label><br>
                        <label>Termine für Dienstag 09.01.2018</label><br>
                        <input id="termine-60-20" type="radio" name="Termine"
                               value="Termin 1: 09.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-20">Termin 1: 09.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-21" type="radio" name="Termine"
                               value="Termin 2: 09.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-21">Termin 2: 09.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Mittwoch 10.01.2018</label><br>
                        <input id="termine-60-22" type="radio" name="Termine"
                               value="Termin 1: 10.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-22">Termin 1: 10.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-23" type="radio" name="Termine"
                               value="Termin 2: 10.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-23">Termin 2: 10.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Donnerstag 11.01.2018</label><br>
                        <input id="termine-60-24" type="radio" name="Termine"
                               value="Termin 1: 11.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-24">Termin 1: 11.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-25" type="radio" name="Termine"
                               value="Termin 2: 11.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-25">Termin 2: 11.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Freitag 12.01.2018</label><br>
                        <input id="termine-60-26" type="radio" name="Termine"
                               value="Termin 1: 12.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-26">Termin 1: 12.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-27" type="radio" name="Termine"
                               value="Termin 2: 12.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-27">Termin 2: 12.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Samstag 13.01.2018</label><br>
                        <input id="termine-60-28" type="radio" name="Termine"
                               value="Termin 1: 13.01.2018 - 09:00 - 10:00 Uhr">
                        <label for="termine-60-28">Termin 1: 13.01.2018 - 09:00 - 10:00 Uhr</label><br>
                        <label>Termine für Dienstag 16.01.2018</label><br>
                        <input id="termine-60-29" type="radio" name="Termine"
                               value="Termin 1: 16.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-29">Termin 1: 16.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-30" type="radio" name="Termine"
                               value="Termin 2: 16.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-30">Termin 2: 16.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Mittwoch 17.01.2018</label><br>
                        <input id="termine-60-31" type="radio" name="Termine"
                               value="Termin 1: 17.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-31">Termin 1: 17.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-32" type="radio" name="Termine"
                               value="Termin 2: 17.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-32">Termin 2: 17.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Donnerstag 18.01.2018</label><br>
                        <input id="termine-60-33" type="radio" name="Termine"
                               value="Termin 1: 18.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-33">Termin 1: 18.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-34" type="radio" name="Termine"
                               value="Termin 2: 18.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-34">Termin 2: 18.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Freitag 19.01.2018</label><br>
                        <input id="termine-60-35" type="radio" name="Termine"
                               value="Termin 1: 19.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-35">Termin 1: 19.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-36" type="radio" name="Termine"
                               value="Termin 2: 19.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-36">Termin 2: 19.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Samstag 20.01.2018</label><br>
                        <input id="termine-60-37" type="radio" name="Termine"
                               value="Termin 1: 20.01.2018 - 09:00 - 10:00 Uhr">
                        <label for="termine-60-37">Termin 1: 20.01.2018 - 09:00 - 10:00 Uhr</label><br>
                        <label>Termine für Dienstag 23.01.2018</label><br>
                        <input id="termine-60-38" type="radio" name="Termine"
                               value="Termin 1: 23.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-38">Termin 1: 23.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-39" type="radio" name="Termine"
                               value="Termin 2: 23.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-39">Termin 2: 23.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Mittwoch 24.01.2018</label><br>
                        <input id="termine-60-40" type="radio" name="Termine"
                               value="Termin 1: 24.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-40">Termin 1: 24.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-41" type="radio" name="Termine"
                               value="Termin 2: 24.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-41">Termin 2: 24.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Donnerstag 25.01.2018</label><br>
                        <input id="termine-60-42" type="radio" name="Termine"
                               value="Termin 1: 25.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-42">Termin 1: 25.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-43" type="radio" name="Termine"
                               value="Termin 2: 25.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-43">Termin 2: 25.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Freitag 26.01.2018</label><br>
                        <input id="termine-60-44" type="radio" name="Termine"
                               value="Termin 1: 26.01.2018 - 09:20 - 10:20 Uhr">
                        <label for="termine-60-44">Termin 1: 26.01.2018 - 09:20 - 10:20 Uhr</label><br>
                        <input id="termine-60-45" type="radio" name="Termine"
                               value="Termin 2: 26.01.2018 - 10:20 - 11:20 Uhr">
                        <label for="termine-60-45">Termin 2: 26.01.2018 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Samstag 27.01.2018</label><br>
                        <input id="termine-60-46" type="radio" name="Termine"
                               value="Termin 1: 27.01.2018 - 09:00 - 10:00 Uhr">
                        <label for="termine-60-46">Termin 1: 27.01.2018 - 09:00 - 10:00 Uhr</label><br>
                    </fieldset>

                    <fieldset id="termine-120">
                        <label>Termine für Dienstag 19.12.2017</label><br>
                        <input id="termine-120-1" type="radio" name="Termine"
                               value="Termin 1: 19.12.2017 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-1">Termin 1: 19.12.2017 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-2" type="radio" name="Termine"
                               value="Termin 2: 19.12.2017 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-2">Termin 2: 19.12.2017 - 10:20 - 11:20 Uhr</label><br>
                        <label>Termine für Mittwoch 20.12.2017</label><br>
                        <input id="termine-120-3" type="radio" name="Termine"
                               value="Termin 1: 20.12.2017 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-3">Termin 1: 20.12.2017 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-4" type="radio" name="Termine"
                               value="Termin 2: 20.12.2017 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-4">Termin 2: 20.12.2017 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Donnerstag 21.12.2017</label><br>
                        <input id="termine-120-5" type="radio" name="Termine"
                               value="Termin 1: 21.12.2017 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-5">Termin 1: 21.12.2017 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-6" type="radio" name="Termine"
                               value="Termin 2: 21.12.2017 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-6">Termin 2: 21.12.2017 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Freitag 22.12.2017</label><br>
                        <input id="termine-120-7" type="radio" name="Termine"
                               value="Termin 1: 22.12.2017 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-7">Termin 1: 22.12.2017 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-8" type="radio" name="Termine"
                               value="Termin 2: 22.12.2017 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-8">Termin 2: 22.12.2017 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Samstag 23.12.2017</label><br>
                        <input id="termine-120-9" type="radio" name="Termine"
                               value="Termin 1: 23.12.2017 - 11:30 - 13:30 Uhr">
                        <label for="termine-120-9">Termin 1: 23.12.2017 - 11:30 - 13:30 Uhr"</label><br>
                        <label>Termine für Dienstag 02.01.2018</label><br>
                        <input id="termine-120-10" type="radio" name="Termine"
                               value="Termin 1: 02.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-10">Termin 1: 02.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-11" type="radio" name="Termine"
                               value="Termin 2: 02.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-11">Termin 2: 02.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Mittwoch 03.01.2018</label><br>
                        <input id="termine-120-12" type="radio" name="Termine"
                               value="Termin 1: 03.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-12">Termin 1: 03.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-13" type="radio" name="Termine"
                               value="Termin 2: 03.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-13">Termin 2: 03.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Donnerstag 04.01.2018</label><br>
                        <input id="termine-120-14" type="radio" name="Termine"
                               value="Termin 1: 04.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-14">Termin 1: 04.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-15" type="radio" name="Termine"
                               value="Termin 2: 04.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-15">Termin 2: 04.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Freitag 05.01.2018</label><br>
                        <input id="termine-120-16" type="radio" name="Termine"
                               value="Termin 1: 05.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-16">Termin 1: 05.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-17" type="radio" name="Termine"
                               value="Termin 2: 05.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-17">Termin 2: 05.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Samstag 06.01.2018</label><br>
                        <input id="termine-120-18" type="radio" name="Termine"
                               value="Termin 1: 06.01.2018 - 11:30 - 13:30 Uhr">
                        <label for="termine-120-19">Termin 1: 06.01.2018 - 11:30 - 13:30 Uhr"</label><br>
                        <label>Termine für Dienstag 09.01.2018</label><br>
                        <input id="termine-120-20" type="radio" name="Termine"
                               value="Termin 1: 09.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-20">Termin 1: 09.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-21" type="radio" name="Termine"
                               value="Termin 2: 09.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-21">Termin 2: 09.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Mittwoch 10.01.2018</label><br>
                        <input id="termine-120-22" type="radio" name="Termine"
                               value="Termin 1: 10.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-22">Termin 1: 10.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-23" type="radio" name="Termine"
                               value="Termin 2: 10.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-23">Termin 2: 10.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Donnerstag 11.01.2018</label><br>
                        <input id="termine-120-24" type="radio" name="Termine"
                               value="Termin 1: 11.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-24">Termin 1: 11.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-25" type="radio" name="Termine"
                               value="Termin 2: 11.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-25">Termin 2: 11.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Freitag 12.01.2018</label><br>
                        <input id="termine-120-26" type="radio" name="Termine"
                               value="Termin 1: 12.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-26">Termin 1: 12.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-27" type="radio" name="Termine"
                               value="Termin 2: 12.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-27">Termin 2: 12.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Samstag 13.01.2018</label><br>
                        <input id="termine-120-28" type="radio" name="Termine"
                               value="Termin 1: 13.01.2018 - 11:30 - 13:30 Uhr">
                        <label for="termine-120-28">Termin 1: 13.01.2018 - 11:30 - 13:30 Uhr"</label><br>
                        <label>Termine für Dienstag 16.01.2018</label><br>
                        <input id="termine-120-29" type="radio" name="Termine"
                               value="Termin 1: 16.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-29">Termin 1: 16.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-30" type="radio" name="Termine"
                               value="Termin 2: 16.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-30">Termin 2: 16.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Mittwoch 17.01.2018</label><br>
                        <input id="termine-120-31" type="radio" name="Termine"
                               value="Termin 1: 17.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-31">Termin 1: 17.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-32" type="radio" name="Termine"
                               value="Termin 2: 17.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-32">Termin 2: 17.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Donnerstag 18.01.2018</label><br>
                        <input id="termine-120-33" type="radio" name="Termine"
                               value="Termin 1: 18.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-33">Termin 1: 18.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-34" type="radio" name="Termine"
                               value="Termin 2: 18.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-34">Termin 2: 18.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Freitag 19.01.2018</label><br>
                        <input id="termine-120-35" type="radio" name="Termine"
                               value="Termin 1: 19.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-35">Termin 1: 19.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-36" type="radio" name="Termine"
                               value="Termin 2: 19.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-36">Termin 2: 19.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Samstag 20.01.2018</label><br>
                        <input id="termine-120-37" type="radio" name="Termine"
                               value="Termin 1: 20.01.2018 - 11:30 - 13:30 Uhr">
                        <label for="termine-120-37">Termin 1: 20.01.2018 - 11:30 - 13:30 Uhr"</label><br>
                        <label>Termine für Dienstag 23.01.2018</label><br>
                        <input id="termine-120-38" type="radio" name="Termine"
                               value="Termin 1: 23.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-38">Termin 1: 23.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-39" type="radio" name="Termine"
                               value="Termin 2: 23.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-39">Termin 2: 23.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Mittwoch 24.01.2018</label><br>
                        <input id="termine-120-40" type="radio" name="Termine"
                               value="Termin 1: 24.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-40">Termin 1: 24.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-41" type="radio" name="Termine"
                               value="Termin 2: 24.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-41">Termin 2: 24.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Donnerstag 25.01.2018</label><br>
                        <input id="termine-120-42" type="radio" name="Termine"
                               value="Termin 1: 25.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-42">Termin 1: 25.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-43" type="radio" name="Termine"
                               value="Termin 2: 25.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-43">Termin 2: 25.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Freitag 26.01.2018</label><br>
                        <input id="termine-120-44" type="radio" name="Termine"
                               value="Termin 1: 26.01.2018 - 11:20 - 13:20 Uhr">
                        <label for="termine-120-44">Termin 1: 26.01.2018 - 11:20 - 13:20 Uhr</label><br>
                        <input id="termine-120-45" type="radio" name="Termine"
                               value="Termin 2: 26.01.2018 - 15:20 - 17:20 Uhr">
                        <label for="termine-120-45">Termin 2: 26.01.2018 - 15:20 - 17:20 Uhr</label><br>
                        <label>Termine für Samstag 27.01.2018</label><br>
                        <input id="termine-120-46" type="radio" name="Termine"
                               value="Termin 1: 27.01.2018 - 11:30 - 13:30 Uhr">
                        <label for="termine-120-46">Termin 1: 27.01.2018 - 11:30 - 13:30 Uhr</label><br>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" id="absenden">Termin buchen</button>
                    </div>
                </div>
            </div>

        </form>
    </div>


</div>
<script>

    function getAllUrlParams(url) {

        var decodedUri = decodeURIComponent(window.location.href);

        var queryString = decodedUri ? decodedUri.split('?')[1] : window.location.search.slice(1);

        var obj = {};

        if (queryString) {
            queryString = queryString.split('#')[0];

            var arr = queryString.split('&');

            for (var i = 0; i < arr.length; i++) {
                var a = arr[i].split('=');

                var paramNum = undefined;
                var paramName = a[0].replace(/\[\d*\]/, function (v) {
                    paramNum = v.slice(1, -1);
                    return '';
                });
                var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];

                paramName = paramName.toLowerCase();

                if (obj[paramName]) {
                    if (typeof obj[paramName] === 'string') {
                        obj[paramName] = [obj[paramName]];
                    }

                    if (typeof paramNum === 'undefined') {
                        obj[paramName].push(paramValue);
                    }
                }
                else {
                    obj[paramName] = paramValue;
                }
            }

        }
        return obj;
    }

    console.log(getAllUrlParams());

    var vorname = getAllUrlParams().vorname;
    var name = getAllUrlParams().name;
    var email = getAllUrlParams().from;
    var telnr = getAllUrlParams().handynr;
    var herren = getAllUrlParams().herren;
    var damen = getAllUrlParams().damen;
    var dienstleistung = getAllUrlParams().dienstleistung;
    var sonstiges = getAllUrlParams().sonstiges;

    if (herren === undefined) {
        herren = "---";
    }
    if (damen === undefined) {
        damen = "---"
    }
    if (dienstleistung === undefined) {
        dienstleistung = "---"
    }
    if (sonstiges === "") {
        sonstiges = "---"
    }

    console.log(vorname);

    document.getElementById('vorname').innerHTML = vorname;

    document.getElementById('vorname2').value = vorname;
    document.getElementById('name').value = name;
    document.getElementById('email').value = email;
    document.getElementById('nummer').value = telnr;
    document.getElementById('herren').value = herren;
    document.getElementById('damen').value = damen;
    document.getElementById('anderes').value = dienstleistung;
    document.getElementById('sonstiges').value = sonstiges;

    $("#termine-20").hide();
    $("#termine-30").hide();
    $("#termine-60").hide();
    $("#termine-120").hide();

    if (document.getElementById('herren').value === "Schneiden") {
        $("#termine-20").show();
        $("#termine-30").hide();
        $("#termine-60").hide();
        $("#termine-120").hide();
    }
    if (document.getElementById('herren').value === "Schneiden,Waschen") {
        $("#termine-20").hide();
        $("#termine-30").show();
        $("#termine-60").hide();
        $("#termine-120").hide();
    }
    if (document.getElementById('damen').value === "Schneiden") {
        $("#termine-20").hide();
        $("#termine-30").show();
        $("#termine-60").hide();
        $("#termine-120").hide();
    }
    if (document.getElementById('damen').value === "Schneiden,Waschen,Föhnen") {
        $("#termine-20").hide();
        $("#termine-30").hide();
        $("#termine-60").show();
        $("#termine-120").hide();
    }
    if (document.getElementById('damen').value === "Schneiden,Waschen,Färben,Föhnen") {
        $("#termine-20").hide();
        $("#termine-30").hide();
        $("#termine-60").hide();
        $("#termine-120").show();
    }
    if (document.getElementById('anderes').value === "Augenbrauen-Service") {
        $("#termine-20").show();
        $("#termine-30").hide();
        $("#termine-60").hide();
        $("#termine-120").hide();
    }
    if (document.getElementById('anderes').value === "Make-Up-Service") {
        $("#termine-20").hide();
        $("#termine-30").hide();
        $("#termine-60").show();
        $("#termine-120").hide();
    }
    if (document.getElementById('anderes').value === "Tönung") {
        $("#termine-20").hide();
        $("#termine-30").hide();
        $("#termine-60").show();
        $("#termine-120").hide();
    }
    if (document.getElementById('anderes').value === "Wimpern-Service") {
        $("#termine-20").hide();
        $("#termine-30").hide();
        $("#termine-60").show();
        $("#termine-120").hide();

    }
</script>

</body>
</html>